{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumportal - Shop</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body style="overflow: hidden;">
    <div id="particles-js" style="font-family: 'Montserrat', sans-serif; background:none;z-index: -1;"></div>

      <div class="modal">
        <div class="modal-overlay modal-toggle"></div>
        <div class="modal-wrapper modal-transition">
          <div class="modal-header">
            <button class="modal-close modal-toggle"><svg class="icon-close icon" viewBox="0 0 32 32"><use xlink:href="#icon-close"></use></svg></button>
            <h2 class="modal-heading">New Notification</h2>
          </div>

          <div class="modal-body">
            <div class="modal-content">
            </div>
          </div>
        </div>
      </div>
    <div class="sidenav" style="padding-bottom: 1.7em;">
       <center><img class="sidenavimg" src="{% static 'images/pushpagg.png' %}"></center>
        <h1 class="sidenavhead">PushpaGG</h1>
        <br>
        <br>
        <h2 class="stats" style="margin-block-end: 0.4em;">Coins</h2>
        <img src="{% static 'images/money.svg' %}" style="max-width:1.6em; display: inline;vertical-align: bottom;margin-top: 0.3em;">
        <p style="display: inline;font-family: 'Cabin', sans-serif; color: white; vertical-align: middle; font-size: 1.4em;margin-top: 1em;">{{coins}}</p>
        <br>
        <br>
        <h2 class="stats" style="margin-block-end: 0.4em;">Oompa Loompas</h2>
        <img src="{% static 'images/loompa.svg' %}" style="max-width:1.6em; display: inline;vertical-align: bottom;margin-top: 0.3em;">
        <p style="display: inline;font-family: 'Cabin', sans-serif; color: white; vertical-align: middle; font-size: 1.4em;margin-top: 0.7em;">{{oompas}}</p>
        <br>
        <br>
        <br>
        <br>
        <div class="notifs">
        {% for notif in notifs %}
        <div class="notif" style="    border-top: 1px solid white;">
        <img src="{% static 'images/bell.svg' %}" style="max-width: 1.5em; float: left;display: inline;margin-right: 0.9em;vertical-align: middle;">
        <p style="display: inline; vertical-align: top; color: white; font-family: 'Cabin', sans-serif;font-size: 1em;font-weight: 600;">{{notif}}</p>
      </div>
      {% endfor %}
      <div class="notif">
      <img src="{% static 'images/bell.svg' %}" style="max-width: 1.5em; float: left;display: inline;margin-right: 0.9em;vertical-align: middle;">
      <p style="display: inline; vertical-align: top; color: white; font-family: 'Cabin', sans-serif;font-size: 1em;font-weight: 600;">Oompa John just leveled up</p>
    </div>
    <div class="notif">
    <img src="{% static 'images/bell.svg' %}" style="max-width: 1.5em; float: left;display: inline;margin-right: 0.9em;vertical-align: middle;">
    <p style="display: inline; vertical-align: top; color: white; font-family: 'Cabin', sans-serif;font-size: 1em;font-weight: 600;">Oompa Marie just leveled up</p>
  </div>
      </div>
        <br>
        <br>
        <div class="announce">
            <h1 style="color: white;font-family: 'Cabin', sans-serif; vertical-align: middle; text-align: center;font-size: 1.4em;position:relative;text-align: center;top: 25%;">Announce<span><img src="{% static 'images/announce.svg' %}" style="max-width: 0.7em; margin-left: 0.4em;"></span></h1>
        </div>
        <br>
        <div>
        </div>
    </div>
    <br>
    {% if name == "pushpagg" %}
    <div class="header">
        <a href="/"><p style="display: inline; margin-left: 2em; ">Home</p></a>
        <a href="/shop"><p style="display: inline; margin-left: 2em;color: #C3073F ">Shop</p></a>
        <a href="/training"><p style="display: inline; margin-left: 2em;">Training</p></a>
        <a href="/users/logout"><p style="display: inline; margin-left: 2em; ">Logout</p></a>
    </div>
    {% else %}
    <div class="header">

        <a href="/users/logout"><p style="display: inline; margin-left: 2em; ">Logout</p></a>
    </div>
    {% endif %}
    <br>
    <br>
    <br>
    <main>
        <h1 style="font-family:'Raleway', sans-serif; color: white; margin-left: 11em;" id="shopheading">Shop New Rooms</h1>
<div class="slideshow" id="slideshow1">
    <div class="container">


            <img class="mySlides" src="{% static 'images/room5.png' %}" style="max-width:30em; border-radius:10px;">

    <div class="bottom-right">  <form action="buy/" method="post">{% csrf_token %}<input name="room" value="5" type="hidden">

      {% if room5 == "yes" %}
      <button type="submit" id="room5btn" class="buybtn"> Buy </button>
      {% elif room5 == "owned" %}
      <button disabled style="background: green;" id="room4btn" class="buybtn"> Owned </button>
      {% else %}
        <button disabled  style="background: grey;" id="room5btn" class="buybtn"> Buy </button>
      {%endif %}
    </form> Room 5<span style="float: right; vertical-align: middle; padding-left: 13em;"><img src="{% static 'images/money.svg' %}" style="max-width: 1.3em;vertical-align: bottom;"><p style="font-size: 1em; display: inline; vertical-align: bottom;">  120000</p></span></div>

    </div>

            <br>
            <div class="container">
            <img class="" src="{% static 'images/room4.png' %}" style="max-width:30em; border-radius:10px;">
    <div class="bottom-right" style="border-bottom-left-radius: 1em;"><form action="buy/" method="post">{% csrf_token %}<input name="room" value="4" type="hidden">
      {% if room4 == "yes" %}
      <button type="submit" id="room4btn" class="buybtn"> Buy </button>
      {% elif room4 == "owned" %}
      <button disabled style="background: green;" id="room4btn" class="buybtn"> Owned </button>
      {% else %}
        <button disabled style="background: grey;" id="room4btn" class="buybtn"> Buy </button>
      {%endif %}
    </form>  Room 4<span style="float: right; vertical-align: middle; padding-left: 13em;"><img src="{% static 'images/money.svg' %}" style="max-width: 1.3em;vertical-align: bottom;"><p style="font-size: 1em; display: inline; vertical-align: bottom;">  100000</p></span></div>
</div>
            <br>
            <button class="slider-btn" onclick="prev()">&#10094;</button>
      <button class="slider-btn" onclick="next()">&#10095;</button>
</div>
<div class="slideshow" id="slideshow2">
    <div class="container">
            <img class="mySlides" src="{% static 'images/oompa.jpg' %}" style="max-width:30em; border-radius:10px;">

    <div class="bottom-right">  <form action="buy/oompa/" method="post">{% csrf_token %}<input name="oompa" value="10" type="hidden">

      <button type="submit" id="room5btn" class="buybtn"> Buy </button>
    </form> Level 10<span style="float: right; vertical-align: middle; padding-left: 13em;"><img src="{% static 'images/money.svg' %}" style="max-width: 1.3em;vertical-align: bottom;"><p style="font-size: 1em; display: inline; vertical-align: bottom;">  120000</p></span></div>

    </div>

            <br>
            <div class="container">
            <img class="" src="{% static 'images/oompa.jpg' %}" style="max-width:30em; border-radius:10px;">
    <div class="bottom-right" style="border-bottom-left-radius: 1em;"><form action="buy/oompa/" method="post">{% csrf_token %}<input name="oompa" value="5" type="hidden">

      <button type="submit" id="room4btn" class="buybtn"> Buy </button>


    </form> Level 5<span style="float: right; vertical-align: middle; padding-left: 13em;"><img src="{% static 'images/money.svg' %}" style="max-width: 1.3em;vertical-align: bottom;"><p style="font-size: 1em; display: inline; vertical-align: bottom;">  100000</p></span></div>
</div>
            <br>
            <button class="slider-btn" onclick="prev()">&#10094;</button>
      <button class="slider-btn" onclick="next()">&#10095;</button>
</div>
<div class="sidephoto">
    <img src="{% static 'images/arcade.png' %}" style="max-width: 35em; display: inline;float: right;position: absolute; top: 7em;right: 3em;">
</div>
<h1 style="font-family: 'Raleway', sans-serif; color: #C3073F; position: absolute; bottom: 0; right: 1em;">Lumportal</h1>
    </main>
    <textarea style="display:none" id="chat-log" cols="100" rows="20"></textarea><br>
        <input  style="display:none"id="chat-message-input" type="text" size="100"><br>
        <input  style="display:none"id="chat-message-submit" type="button" value="Send">
        {{ room_name|json_script:"room-name" }}
        <script>
            const roomName = JSON.parse(document.getElementById('room-name').textContent);

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                $(".notifs").prepend(`
                  <div class="notif" style="    border-top: 1px solid white;">
                  <img src="{% static 'images/bell.svg' %}" style="max-width: 1.5em; float: left;display: inline;margin-right: 0.9em;vertical-align: middle;">
                    <p style="display: inline; vertical-align: top; color: #C3073F; font-family: 'Cabin', sans-serif;font-size: 1em;font-weight: 600;">${data.message}</p>
                </div>
                  `)
                $(".notifs").animate({
    scrollTop: 0
}, 600);
  if ($(".sidenavhead").html() !== "PushpaGG"){
    $(".modal-content").empty()
    $(".modal-content").append("<h2 style='color:#C3073F'> "+data.message+"</h2>")
     $('.modal').toggleClass('is-visible');
  }
                document.querySelector('#chat-log').value += (data.message + '\n');
            };

            chatSocket.onclose = function(e) {
                console.error('Chat socket closed unexpectedly');
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
                messageInputDom.value = '';
            };
        </script>
</body>
</html>
<script>
    function next(){
      if($("#slideshow2").is(":hidden")){
        $("#slideshow1").hide();
        $("#shopheading").html("Shop New Oompa Loompas")
        $("#slideshow2").fadeIn();
      }
    }
    function prev(){
      if($("#slideshow1").is(":hidden")){
        $("#slideshow2").hide();
        $("#shopheading").html("Shop New Rooms")
        $("#slideshow1").fadeIn();
      }
    }
</script>
<script src="{% static 'particles.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript">
$("#slideshow2").hide()
// Quick & dirty toggle to demonstrate modal toggle behavior
// Quick & dirty toggle to demonstrate modal toggle behavior
$('.modal-toggle').on('click', function(e) {
  e.preventDefault();
  $('.modal').toggleClass('is-visible');
});
</script>
<script>
    particlesJS.load("{% static 'particles.js' %}", "{% static 'particles.json' %}"function() {
  console.log('callback - particles.js config loaded');
});
</script>
