{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumportal - Training</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body style="overflow: hidden;">
    <div id="particles-js" style="font-family: 'Montserrat', sans-serif; background:none;z-index: -1;"></div>

    <div class="sidenav" style="padding-bottom: 1.7em;">
       <center><img class="sidenavimg" src="{% static 'images/pushpagg.png' %}"></center>
        <h1 class="sidenavhead">PushpaGG</h1>
        <br>
        <br>
        <h2 class="stats" style="margin-block-end: 0.4em;">Coins</h2>
        <img src="{% static 'images/money.svg' %}" style="max-width:1.6em; display: inline;vertical-align: bottom;margin-top: 0.3em;">
        <p style="display: inline;font-family: 'Cabin', sans-serif; color: white; vertical-align: middle; font-size: 1.4em;margin-top: 1em;">{{coins}}</p>
        <br>
        <br>
        <h2 class="stats" style="margin-block-end: 0.4em;">Oompa Loompas</h2>
        <img src="{% static 'images/loompa.svg' %}" style="max-width:1.6em; display: inline;vertical-align: bottom;margin-top: 0.3em;">
        <p style="display: inline;font-family: 'Cabin', sans-serif; color: white; vertical-align: middle; font-size: 1.4em;margin-top: 0.7em;">{{oompas}}</p>
        <br>
        <br>
        <br>
        <br>
        <div class="notifs">
        {% for notif in notifs %}
        <div class="notif" style="    border-top: 1px solid white;">
        <img src="{% static 'images/bell.svg' %}" style="max-width: 1.5em; float: left;display: inline;margin-right: 0.9em;vertical-align: middle;">
        <p style="display: inline; vertical-align: top; color: white; font-family: 'Cabin', sans-serif;font-size: 1em;font-weight: 600;">{{notif}}</p>
      </div>
      {% endfor %}
      <div class="notif">
      <img src="{% static 'images/bell.svg' %}" style="max-width: 1.5em; float: left;display: inline;margin-right: 0.9em;vertical-align: middle;">
      <p style="display: inline; vertical-align: top; color: white; font-family: 'Cabin', sans-serif;font-size: 1em;font-weight: 600;">Oompa John just leveled up</p>
    </div>
    <div class="notif">
    <img src="{% static 'images/bell.svg' %}" style="max-width: 1.5em; float: left;display: inline;margin-right: 0.9em;vertical-align: middle;">
    <p style="display: inline; vertical-align: top; color: white; font-family: 'Cabin', sans-serif;font-size: 1em;font-weight: 600;">Oompa Marie just leveled up</p>
  </div>
      </div>
        <br>
        <br>
        <div class="announce">
            <h1 style="color: white;font-family: 'Cabin', sans-serif; vertical-align: middle; text-align: center;font-size: 1.4em;position:relative;text-align: center;top: 25%;">Announce<span><img src="{% static 'images/announce.svg' %}" style="max-width: 0.7em; margin-left: 0.4em;"></span></h1>
        </div>
        <br>
        <div>
        </div>
    </div>
    <br>
    {% if name == "pushpagg" %}
    <div class="header">
        <a href="/"><p style="display: inline; margin-left: 2em; ">Home</p></a>
        <a href="/shop"><p style="display: inline; margin-left: 2em; ">Shop</p></a>
        <a href="/training"><p style="display: inline; margin-left: 2em; color: #C3073F">Training</p></a>
        <a href="/users/logout"><p style="display: inline; margin-left: 2em; ">Logout</p></a>
    </div>
    {% else %}
    <div class="header">

        <a href="/users/logout"><p style="display: inline; margin-left: 2em; ">Logout</p></a>
    </div>
    {% endif %}
    <br>
    <br>
    <br>
    <main>
        <h1 style="font-family:'Raleway', sans-serif; color: white; margin-left: 11em;">Train Your Oompa<br> Loompas</h1>
        <br>
        <div class="training">
          <form action="/trainingpost/" method="post" id="trainform">
          {% for oomp in trainingoompa %}
          {% if forloop.counter0|divisibleby:3 %}
        <div class="train" style="margin-left: 22em;">
            <img src="{% static 'images/oompa.png' %}" style="max-width: calc(376px/1.2);">
            <center>
            <div class="details" id="{{oomp}}">

                {% csrf_token %}
              <h2 style="color: white; font-family: 'Raleway', sans-serif; font-size: 1.25em;">{{oomp.name}}</h2>

                <h2 style="color: white; font-family: 'Cabin', sans-serif;">Level<span style="color: #C3073F;margin-left: 2em;font-weight: bold;">{{oomp.level}}<span><a href="#" onclick="levelup(this)"><img src="{% static 'images/plus.svg' %}" style="vertical-align: top; margin-left: 0.6em;"></a></span></h2>
                <h2 style="color: white; font-family: 'Cabin', sans-serif;">Salary<span style="color: #C3073F;margin-left: 2em;font-weight: bold;">{{oomp.salary}}<span><a href="#" onclick="salaryup()"><img src="{% static 'images/plus.svg' %}" style="vertical-align: top; margin-left: 0.6em;"></a></span></h2>

            </div>
            </center>

        </div>
        {% else %}
        <div class="train">
            <img src="{% static 'images/oompa.png' %}" style="max-width: calc(376px/1.2);">
            <center>
              <div class="details" id="{{oomp}}">

                  {% csrf_token %}
                <h2 style="color: white; font-family: 'Raleway', sans-serif; font-size: 1.25em;">{{oomp.name}}</h2>

                  <h2 style="color: white; font-family: 'Cabin', sans-serif;">Level<span style="color: #C3073F;margin-left: 2em;font-weight: bold;">{{oomp.level}}<span><a href="#" onclick="levelup(this)"><img src="{% static 'images/plus.svg' %}" style="vertical-align: top; margin-left: 0.6em;"></a></span></h2>
                  <h2 style="color: white; font-family: 'Cabin', sans-serif;">Salary<span style="color: #C3073F;margin-left: 2em;font-weight: bold;">{{oomp.salary}}<span><a href="#" onclick="salaryup()"><img src="{% static 'images/plus.svg' %}" style="vertical-align: top; margin-left: 0.6em;"></a></span></h2>


              </div>
            </center>

        </div>
        {% endif %}


        {% endfor %}
        <input type="hidden" name="oompa" id="oompa" value="">
          <input type="hidden" name="level" id="level" value="">
          <input type="hidden" name="salary" id="salary" value="">
          <input type="hidden" id="change" name="change" value="">
        </form>
        </div>
<h1 style="font-family: 'Raleway', sans-serif; color: #C3073F; position: absolute; bottom: 0; right: 1em;">Lumportal</h1>
    </main>
</body>
</html>
<script>
  function levelup(elem){
    $("#change").val("level")
    var detailid = elem.parentNode.parentNode.parentNode.parentNode
    $("#oompa").val(detailid.children[1].innerHTML)
    $("#level").val(detailid.children[2].children[0].innerHTML.split('<')[0])
    $("#salary").val(detailid.children[3].children[0].innerHTML.split('<')[0])
    $("#trainform").submit()
  }
  function salaryup(){
    $("#change").val("salary")

    $("#trainform").submit()
  }

</script>
<script src="{% static 'particles.js' %}"></script>
<script>
    particlesJS.load('particles-js', 'particles.json', function() {
  console.log('callback - particles.js config loaded');
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
